@import '../../colors.less';

.item-transaction {
  display: flex;
  max-width: 400px;
  min-height: 50px;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: @color-primary-1;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &--selected {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.027), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &__icon {
    width: 30px;
    height: 30px;
    padding: 15px;
    margin-right: 15px;
    background: @color-primary-0;
    border-radius: 50%;
  }

  &__side-info {
    display: flex;
    min-height: 50px;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 0;
    margin-left: auto;
    font-size: 14px;
    text-align: right;
    vertical-align: middle;
  }

  &__amount {
    margin-right: 0;
    margin-left: auto;
  }

  &__currency-icon {
    width: 12px;
    height: 12px;
    margin-right: 0;
    vertical-align: middle;
  }

  &__date {
    font-size: 12px;
  }

  &--outcome {
    background: @color-secondary-2-1;
  }

  &--outcome &__icon {
    background: @color-secondary-2-0;
  }
}
