.item-transaction {
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 400px;
  min-height: 50px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &--selected {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.027), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    padding: 15px;
    background: #e2e1e0;
    border-radius: 50%;
  }

  &__amount {
    margin-left: auto;
    margin-right: 0;
  }

  &__currency-icon {
    width: 15px;
    height: 15px;
    margin-right: 0;
  }
}
