.add-transaction-form {
  display: block;
  width: 400px;
  flex-direction: column;

  &__price-row {
    display: flex;

    &__amount {
      width: 300px;
      margin-right: 20px;
    }

    &__currency {
      width: 80px;
    }
  }
}
