<form class="add-transaction-form" [formGroup]="addTransactionForm" (ngSubmit)="onSubmit(addTransactionForm.value)">
  <app-form-group label="Тип транзакции">
    <app-select formControlName="trType" [options]="trTypeOptions"></app-select>
  </app-form-group>
  <app-form-group [label]="getSideLabel(addTransactionForm.value.trType)">
    <app-input formControlName="side"></app-input>
  </app-form-group>
  <app-form-group label="Категория">
    <app-select formControlName="sideCategory" [options]="sideCategoryOptions"></app-select>
  </app-form-group>
  <div class="add-transaction-form__price-row">
    <div class="add-transaction-form__price-row__amount">
      <app-form-group label="Сумма">
        <app-input type="number" formControlName="amount"></app-input>
      </app-form-group>
    </div>
    <div class="add-transaction-form__price-row__currency">
      <app-form-group label="Валюта">
        <app-select formControlName="currency" [options]="currencyOptions"></app-select>
      </app-form-group>
    </div>
  </div>
  <app-form-group label="Описание">
    <app-input formControlName="description"></app-input>
  </app-form-group>
  <app-button class="add-transaction-form__control" type="submit">Добавить событие</app-button>
</form>