@import '../../../styles/colors.less';
@import '../../../styles/variables.less';

.news-detailed {
  display: flex;
  flex-direction: column;

  &__date {
    margin-bottom: @baseOffset3x;
  }

  &__content {
    margin-bottom: @baseOffset3x;
  }

  &__controls {
    text-align: right;
  }
}
