/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/fonts.less';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

body {
  margin: 0;
  background: #e2e1e0;
}
